:root {
    --btn-bg-color: rgb(232, 232, 232);
    --btn-hover-bg-color: rgb(209, 209, 209);
}

body{height:100vh; background-color: brown;}

.left-arrow, .right-arrow {
    width: 4em;
    border: none;
    margin: 0 auto;
    border-radius: 100%;
    display: inline-block;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.btn-container:hover {
    background-color: var(--btn-hover-bg-color);
}